.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    text-align: center;
    font-size: 0.8rem;
    color: #171738;
    background-color: #9395d3;
    text-transform: uppercase;
    padding: 0 1rem;
}