@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Work+Sans:ital,wght@0,900;1,900&display=swap');

input {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
