.logo {
    color: #171738;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    line-height: 1.4em;
    padding: 0 1.2rem;
    text-transform: uppercase;

    &:hover {
        color: lighten(#171738, 10%);
        text-decoration: none;
    }
}